<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Roman Epigraphy</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

	<header class="header clearfix">
		<a href="/" class="header__logo">ROMAN</br>
			EPIGRAPHY</a>
		<a href="" class="header__icon-bar">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<ul class="header__menu animate">
			<li class="header__menu__item">
				<a href="/">Home</a>
			</li>
			<li class="header__menu__item">
				<a href="/project">Project</a>
			</li>
			<li class="header__menu__item">
				<a href="/inscriptions">Inscriptions</a>
			</li>
			<li class="header__menu__item">
				<a href="/contact">Contact</a>
			</li>
		</ul>
	</header>

	<section class="cover cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
			<div class="cover__caption__copy">
				<h1 id="action__title" style="font-weight:100;"></h1>
			</div>
		</div>
	</section>


	<article class="panel">
		<div class="panel__copy">
			<p class="description__event" id="type__event" align="center">
				Category:
				<strong id="action__category"></strong>
			</p>
			<p class="description__event" id="doer__event" align="center">
				Doer(s):
				<strong id="action__doer"></strong>
			</p>
			<p class="description__event" id="reciver__event" align="center">
				Receiver(s):
				<strong id="action__receiver"></strong>
			</p>
			<p class="description__event" id="reciver__event" align="center">
				Document:
				<strong id="action__document"></strong>
			</p>
		</div>
	</article>

	<section class="cover2 cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
		</div>
	</section>

	<article class="panel">
		<div class="panel__copy" style="margin-top:0px;">
			<h2>Description</h2>
			<p id="action__description"></p>
		</div>
	</article>


	<footer class="footer">
		<section class="cards clearfix">
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Roman Epigraphy</strong>
					</h4>
					<p>
						<a href="about.html" class="footerlink" title="Mappa del sito" target="_blank">Mappa del sito</a> | Policy |
						<a href='https://www.facebook.com/martina.dellobuono' class="footerlink" title="Profilo facebook del creatore del sito Martina Dello Buono"
						  target='_blank'>Contattami</a>
						<br/> Ultima modifica Luglio 2017
						<br/> Blog | Newsletter
						<br/>
					</p>
					<p>Copyright
						<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/it/deed.it" class="footerlink" alt="Link a licenza Creative Commons"
						  target="_blank">Creative Commons</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Links</strong>
					</h4>
					<p>
						<a href="#" class="footerlink">Facebook</a>
						<br/>
						<a href="#" class="footerlink">Twitter</a>
						<br/>
						<a href="#" class="footerlink">Instagram</a>
						<br/>
						<a href="#" class="footerlink">
							<a href="http://validator.w3.org/check?uri=referer" class="footerlink" title="Validatore w3 codice HTML" target='_blank'>HTML 5</a> |
							<a href="http://jigsaw.w3.org/css-validator/check/referer" class="footerlink" title="Validitore w3 codice CSS" target="_blank">CSS</a>
						</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>About</strong>
					</h4>
					<p>Questo sito è stato realizzato da
						<br/>
						<a href='https://www.facebook.com/martina.dellobuono' class="footerlink" title="Profilo facebook del creatore del sito Martina Dello Buono"
						  target='_blank'>Martina Dello Buono</a>,
						<a>Fabio Mariani</a> e
						<a>Gianmarco Spinaci</a> per l'esame di Scholarly Editing e Digital Approach.</p>
					<p>
						<a href='http://www.unibo.it/it' title="Sito web Università di Bologna" class="footerlink" target='_blank'>Università di Bologna</a>
					</p>
					</p>
				</div>
			</div>


		</section>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script>
		$(document).ready(function () {

			$(".header__icon-bar").click(function (e) {

				$(".header__menu").toggleClass('is-open');
				e.preventDefault();

			});

			function elaborateName({
				praenomen,
				nomen,
				cognomen = ''
			}) {
				return `${praenomen} ${nomen} ${cognomen}`
			}

			$.ajax({
				method: "GET",
				dataType: 'json',
				url: `../api/actions/${Cookies.get('action_id')}`,
				success: function (action) {
					action = action[0]

					$('#action__title').text(action.title)
					$('#action__category').text(action.category)

					for (let doer of action['doer/s']) {
						$.ajax({
							method: "GET",
							dataType: 'json',
							url: `../api/people/${doer}`,
							success: function (person) {
								person = person[0].name
								$('#action__doer').append(`<a href="../people/${doer}">${elaborateName(person)}</a>, `)
							}
						})
					}

					for (let receiver of action['receiver/s']) {
						$.ajax({
							method: "GET",
							dataType: 'json',
							url: `../api/people/${receiver}`,
							success: function (person) {
								person = person[0].name
								$('#action__receiver').append(`<a href="../people/${receiver}">${elaborateName(person)}</a>, `)
							}
						})
					}

					for (let line of action.description)
						$('#action__description').append(`${line} <br>`)

					$('#action__document').html(`<a href="../epigraph/${action.documents[0]}">${action.documents[0]}</a>`)
				}
			})
		});
	</script>

</body>

</html>