<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Roman Epigraphy</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

	<header class="header clearfix">
		<a href="/" class="header__logo">ROMAN</br>
			EPIGRAPHY</a>
		<a href="" class="header__icon-bar">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<ul class="header__menu animate">
			<li class="header__menu__item">
				<a href="/">Home</a>
			</li>
			<li class="header__menu__item">
				<a href="/project">Project</a>
			</li>
			<li class="header__menu__item">
				<a href="/inscriptions">Inscriptions</a>
			</li>
			<li class="header__menu__item">
				<a href="/contact">Contact</a>
			</li>
		</ul>
	</header>

	<section class="cover__ariminum1 cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
			<div class="cover__caption__copy">
				<h1 id="inscription__code" style="font-weight:100;"></h1>
				<h2 id="inscription__cil"></h2>
			</div>
		</div>
	</section>

	<article class="panel">
		<div class="panel__copy">
			<p>Bibliographies:
				<ul id="inscription__biblio" type="square"></ul>
			</p>
			<p>See the description in Json format from
				<a target="_blank" id="inscription__api">HERE</a>.</p>
		</div>
	</article>

	<section class="cover__ariminum2 cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
		</div>
	</section>

	<section class="banner clearfix" style="
    position:  relative;
    margin-left: 287px;">
		<div class="banner__image">
		</div>
		<div class="banner__copy">
			<div class="banner__copy__text">
				<p>Repository:
					<b id="inscription__repository"></b>
				</p>
				<p>Support:
					<b id="inscription__support"></b>
				</p>
				<p>Material:
					<b id="inscription__material"></b>
				</p>
				<p>Place:
					<b id="inscription__place"></b>
				</p>
				</p>
			</div>
		</div>
	</section>

	<hr>

	<section class="cards clearfix">
		<div class="card">
			<div class="card__copy">
				<p style="font-size: 30px; letter-spacing:7px; line-height:150%;">PHOTO</p>
			</div>
			<div class="card__copy">
				<p target="_blank">
					<a id="inscription__img" target="_blank" href=""></a>
				</p>
			</div>
		</div>
		<div class="card">
			<div class="card__copy">
				<p style="font-size: 30px; letter-spacing:7px; line-height:150%;">TRANSCRIPTION</p>
			</div>
			<div id="inscription__title" class="card__copy">
				<p>Inscription without abbr.</p>
			</div>
			<div id="inscription__transcription" class="card__copy">
				<p>Inscription with abbr.</p>
			</div>
			<div class="card__copy">
				<button id="btn_toggle" data-type="original">See original</button>
				<div id="inscription__audio"></div>
			</div>
		</div>
		<div class="card">
			<div class="card__copy">
				<p style="font-size: 30px; letter-spacing:7px; line-height:150%;">TRANSLATION</p>
			</div>
			<div id="inscription__translation" class="card__copy">
				<p style="font-size: 30px; letter-spacing:7px; line-height:150%;"></p>
			</div>
		</div>
	</section>

	<hr>

	<section class="cards clearfix">
		<div class="card">
			<a id="inscription_cil_image" href="">
				<img src="" alt="Screenshot of the CIL">
			</a>
		</div>
		<div class="card">
			<img class="card__image__epigraph" src="../img/rimini__personaggi.jpg" alt="">
			<div class="card__copy">
				<h3>
					<a>Characters</a>
				</h3>
				<p>
					<ul type="square" id="inscription__people"></ul>
				</p>
			</div>
		</div>

		<div class="card">
			<img class="card__image__epigraph" src="../img/rimini__eventi.jpg" alt="">
			<div class="card__copy">
				<h3>
					<a>Events</a>
				</h3>
				<p>
					<ul type="square" id="inscription__events"></ul>
				</p>
			</div>
		</div>
	</section>


	<footer class="footer">
		<section class="cards clearfix">
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Roman Epigraphy</strong>
					</h4>
					<p>
						<a href="about.html" class="footerlink" title="Mappa del sito" target="_blank">Mappa del sito</a> | Policy |
						<a href='https://www.facebook.com/martina.dellobuono' class="footerlink" title="Profilo facebook del creatore del sito Martina Dello Buono"
						  target='_blank'>Contattami</a>
						<br/> Ultima modifica Luglio 2017
						<br/> Blog | Newsletter
						<br/>
					</p>
					<p>Copyright
						<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/it/deed.it" class="footerlink" alt="Link a licenza Creative Commons"
						  target="_blank">Creative Commons</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Links</strong>
					</h4>
					<p>
						<a href="#" class="footerlink">Facebook</a>
						<br/>
						<a href="#" class="footerlink">Twitter</a>
						<br/>
						<a href="#" class="footerlink">Instagram</a>
						<br/>
						<a href="#" class="footerlink">
							<a href="http://validator.w3.org/check?uri=referer" class="footerlink" title="Validatore w3 codice HTML" target='_blank'>HTML 5</a> |
							<a href="http://jigsaw.w3.org/css-validator/check/referer" class="footerlink" title="Validitore w3 codice CSS" target="_blank">CSS</a>
						</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>About</strong>
					</h4>
					<p>Questo sito è stato realizzato da
						<br/>
						<a href='https://www.facebook.com/martina.dellobuono' class="footerlink" title="Profilo facebook del creatore del sito Martina Dello Buono"
						  target='_blank'>Martina Dello Buono</a>,
						<a>Fabio Mariani</a> e
						<a>Gianmarco Spinaci</a> per l'esame di Scholarly Editing e Digital Approach.</p>
					<p>
						<a href='http://www.unibo.it/it' title="Sito web Università di Bologna" class="footerlink" target='_blank'>Università di Bologna</a>
					</p>
					</p>
				</div>
			</div>


		</section>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script>
		$(document).ready(function () {

			$(".header__icon-bar").click(function (e) {

				$(".header__menu").toggleClass('is-open');
				e.preventDefault();
			});

			const TRANSCRIPTION = 'transcription'
			const TITLE = 'original'
			const EPIGRAPH_API_URL = '../api/epigraph/'
			const PEOPLE_API_URL = '../api/people/'

			$('#inscription__title').hide()

			var url = EPIGRAPH_API_URL + Cookies.get('epigraphy_id')

			$('#inscription__audio').html(
				`	<p>Listen the classic reading
							<audio controls >
								<source src="../audio-files/${Cookies.get('epigraphy_id')}A.mp3" type="audio/mpeg"> Your browser does not support the audio element.
							</audio></p>

							<p>Listen the ecclesiastic reading
							<audio controls >
								<source src="../audio-files/${Cookies.get('epigraphy_id')}B.mp3" type="audio/mpeg"> Your browser does not support the audio element.
							</audio></p>
						`
			)

			$('#btn_toggle').on('click', function (e) {
				e.preventDefault()

				var data_type = $(this).data('type')

				switch (data_type) {

					// Show Transcription
					case TRANSCRIPTION:
						// Change shown text

						$('#inscription__title').hide()
						$('#inscription__transcription').show()
						// Prepare to handle next event
						$(this).data('type', TITLE)
						$(this).text('See ' + TITLE)
						break

						// Show Title
					case TITLE:

						// Change shown text
						$('#inscription__transcription').hide()
						$('#inscription__title').show()

						// Prepare to handle next event
						$(this).data('type', TRANSCRIPTION)
						$(this).text('See ' + TRANSCRIPTION)
						break
				}
			})

			$.ajax({
					method: "GET",
					dataType: 'json',
					url: url
				})
				.done(function (epigraph) {
					epigraph = epigraph[0]

					let src = `../img/epigraphs/${epigraph._id}.jpg`
					$('#inscription__img').append(`<img src="${src}" alt="Photo fo the epigraph"/>`)
					$('#inscription__img').attr('href', src)

					$('#inscription__code').text(epigraph['_id'])
					$('#inscription__cil').text('CIL ' + epigraph['cil'])
					$('#inscription__api').attr('href', url)

					$('#inscription__repository').text(epigraph.repository)
					$('#inscription__support').text(epigraph.support)
					$('#inscription__material').text(epigraph.material)
					$('#inscription__place').text(`${epigraph.place.ancient} (${epigraph.place.modern})`)

					if (typeof epigraph.cil_URL != 'undefined') {
						$('#inscription_cil_image').find('img').attr('src', `../img/CIL_Ariminum/${epigraph.cil_URL}`)
						$('#inscription_cil_image').attr('href', `../img/CIL_Ariminum/${epigraph.cil_URL}`)
					} else
						$('#inscription_cil_image').replaceWith('<p>CIL image not given</p>')

					for (let biblio of epigraph.bibliographies) {
						if (typeof biblio.uri != 'undefined')
							$('#inscription__biblio').append(
								`<li><p><a target="_blank" href="${biblio.uri}">${biblio.citation}</a></p></li>`)
					}

					$('#inscription__title').html('')
					epigraph.title.forEach(function (line) {
						$('#inscription__title').append('<p>' + line + '</p>')
					})

					$('#inscription__transcription').html('')
					epigraph.transcription.forEach(function (line) {
						$('#inscription__transcription').append('<p>' + line + '</p>')
					})

					$('#inscription__translation').html('')
					epigraph.translation.forEach(function (line) {
						$('#inscription__translation').append('<p>' + line + '</p>')
					})

					$('#inscription__people').html('')
					epigraph.people.forEach(function (person) {

						var person_url = PEOPLE_API_URL + person

						$.ajax({
							method: "GET",
							dataType: 'json',
							url: person_url
						}).done(function (person) {
							var person = person[0]
							$('#inscription__people').append(
								`<li><p><a href="../people/${person['_id']}">
									${person.name.praenomen?person.name.praenomen:''} 
									${person.name.nomen?person.name.nomen:''} 
									${person.name.cognomen?person.name.cognomen:''}</a></p>`
							)
						}, function (error) {
							console.log(error)
						})
					})

					for (let action of epigraph.actions) {
						$.ajax({
							method: "GET",
							dataType: 'json',
							url: `../api/actions/${action}`,
							success: function (action) {
								action = action[0]
								$('#inscription__events').append(`<li><p><a href="../action/${action._id}">${action.title}</a></p></li>`)
							}
						})
					}
				})
		})
	</script>

</body>

</html>