<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Roman Epigraphy</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

	<header class="header clearfix">
		<a href="/" class="header__logo" alt="Roman epigraphy logo">ROMAN</br>
			EPIGRAPHY</a>
		<a href="" class="header__icon-bar">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<ul class="header__menu animate">
			<li class="header__menu__item">
				<a href="/" alt="Homa">Home</a>
			</li>
			<li class="header__menu__item">
				<a href="/project" alt="Project">Project</a>
			</li>
			<li class="header__menu__item">
				<a href="/inscriptions" alt="Epigraphs">Epigraphs</a>
			</li>
			<li class="header__menu__item">
				<a href="/contact" alt="Contact">Contact</a>
			</li>
		</ul>
	</header>

	<section class="cover cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
			<div class="cover__caption__copy">
				<h1 style="font-weight:100;">Groups</h1>
			</div>
		</div>
	</section>


	<article class="panel">
		<div class="panel__copy">
			<p class="description__event" id="type__event" align="center"><strong>City:</strong></p>
			<p class="description__event" id="doer__event" align="center"><strong>Type:</strong></p>
		</div>
	</article>

	<section class="cover2 cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
		</div>
	</section>

	<article class="panel">
		<div class="panel__copy" style="margin-top:0px;">
			<h2>Members</h2>
			<ul type="square">
				<li id="metadata__groups"><a href="" alt="">Member 1</a></li>
				<li id="metadata__groups"><a href="" alt="">Member 2</a></li>
				<li id="metadata__groups"><a href="" alt="">Member 3</a></li>
				<li id="metadata__groups"><a href="" alt="">Member 4</a></li>
			</ul>
		</div>
	</article>

	<hr style="position:relative; top:-40px;">

	<article class="panel">
		<div class="panel__copy" style="margin-top:0px;">
			<h2>Actions</h2>
			<ul type="square">
				<li id="metadata__actions__groups"><strong>Name:</strong></li>
				<li id="metadata__actions__groups"><strong>Role:</strong></li>
			</ul>
		</div>
	</article>

	<hr style="position:relative; top:-40px;">

	<article class="panel">
		<div class="panel__copy" style="margin-top:0px;">
			<h2>Documents</h2>
			<ul type="square">
				<li id="documents__groups">Document 1</li>
				<li id="documents__groups">Document 2</li>
				<li id="documents__groups">Document 3</li>
				<li id="documents__groups">Document 4</li>
			</ul>
		</div>
	</article>

	<footer class="footer">
		<section class="cards clearfix">
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Roman Epigraphy</strong>
					</h4>
					<p>
						<a href="project.html" class="footerlink" alt="Site map">Site map</a> | Policy |
						<a>Contact</a>
						<br/> Latest modification January 2018
						<br/> Blog | Newsletter
						<br/>
					</p>
					<p>Copyright
						<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/it/deed.it" class="footerlink" alt="Creative Commons"
						  target="_blank">Creative Commons</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Links</strong>
					</h4>
					<p>
						<a href="#" class="footerlink" alt="Facebook">Facebook</a>
						<br/>
						<a href="#" class="footerlink" alt="Twitter">Twitter</a>
						<br/>
						<a href="#" class="footerlink" alt="Instagram">Instagram</a>
						</br>
						<a href="#" class="footerlink" alt="Github">Github</a>
						<br/>
						<a href="#" class="footerlink">
							<a href="http://validator.w3.org/check?uri=referer" class="footerlink" title="HTML" target='_blank'>HTML 5</a> |
							<a href="http://jigsaw.w3.org/css-validator/check/referer" class="footerlink" title="CSS" target="_blank">CSS</a>
						</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>About</strong>
					</h4>
					<p>This website has been created by
						<br/>
						<a>Martina Dello Buono</a>,
						<a>Fabio Mariani</a> and
						<a>Gianmarco Spinaci</a> for the Scholarly Editing and Digital Approaches exam.</p>
					<p>
						<a href='http://www.unibo.it/it' alt="Website of University of Bologna" class="footerlink" target='_blank'>University of Bologna</a>
					</p>
					</p>
				</div>
			</div>
		</section>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		$(document).ready(function () {

			$(".header__icon-bar").click(function (e) {

				$(".header__menu").toggleClass('is-open');
				e.preventDefault();

			});
		});
	</script>

</body>

</html>