html,
body {
  height: 100%;
}

body {
  background: white;
  font-family: 'EB Garamond', serif;
  font-size: 19px;
  color: #333333;
  line-height: 170%;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 19px;
  font-weight: extra-light;
}

ol {
  list-style-type: upper-roman;
  text-align: justify;
}

/*-----------------------------
General
-----------------------------*/

.animate {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.button {
  display: inline-block;
  background: #fff;
  color: #000;
  padding: 15px 30px;
  border-radius: 3px;
  text-decoration: none;
  font-family: 'EB Garamond', serif;
}

.active {
  color: #990000 !important;
}

a {
  color: #660000;
  text-decoration: none;
}

a:hover {
  color: #330000;
}

hr {
  border-top: 1px solid #fff;
}

/*-----------------------------
Header
-----------------------------*/

.header {
  background: white;
}

.header__logo {
  color: black;
  float: left;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-weight: 100;
  line-height: 190%;
  letter-spacing: 3px;
}

.header__menu {
  float: right;
  margin: 5;
  padding: 5;
  position: relative;
  margin-bottom: 60px;
  font-style: italic;
  font-weight: 100;
}

.header__menu__item {
  display: inline-block;
}

.header__menu__item a {
  color: black;
  display: block;
  padding: 40px;
  position: relative;
  padding-bottom: 30px;
  text-decoration: none;
}

.header__menu__item a:hover {
  color: #000;
}

.header__icon-bar {
  display: block;
  float: right;
  padding: 20px;
  display: none;
}

.header__icon-bar span {
  display: block;
  height: 3px;
  width: 30px;
  background: black;
  margin-bottom: 5px;
}

#inscription__code,
#inscription__title,
#inscription__transcription {
  text-transform: uppercase;
}

#inscription__transcription {
  font-size: 30px;
  letter-spacing: 3px;
}

#inscription_cil_image img {
  max-height: 600px;
  max-width: 300px;
}

#inscription__img img{
  max-width: 300px
}

.hidden {
  display: none;
}

#inscription__transcription a {
  color: #DA4453 !important;
}

#inscription__transcription a:hover {
  color: #ED5565 !important;
}

.leaflet-popup-content a:hover, #inscription__transcription a:hover {
  text-decoration: underline;
}

/*-----------------------------
Cover
-----------------------------*/

#map {
  min-height: 500px;
  margin: 0 auto;
  max-width: 1200px;
}

.cover {
  height: 80%;
  background-image: url("../img/background.jpeg");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
  position: relative;
}

.cover2 {
  height: 35px;
  background-image: url("../img/pompei.jpg");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
  position: relative;
}

.cover3 {
  height: 35px;
  background-image: url("../img/map.jpg");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
  position: relative;
}

.cover__filter {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.cover__caption {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

.cover__caption__copy {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.cover--single {
  height: 50%;
}

.cover--single h1 {
  font-size: 42px;
}

/*-----------------------------
Cards
-----------------------------*/

.cards {
  max-width: 1200px;
  margin: 40px auto;
}

.card {
  width: 30%;
  margin: 0 1.5%;
  float: left;
  font-weight: 100;
}

.card__image {
  width: 115%;
  height: auto;
  position: relative;
  left: -23px;
}

.card__copy {
  padding: 5px 20px;
}

.card__copy h3 {
  margin-bottom: 0;
}

/*-----------------------------
Banner
-----------------------------*/

.banner {
  background: #fff;
  height: 50%;
  margin-top: 40px;
}

.banner__image {
  width: 30%;
  float: left;
  height: 100%;
  background-image: url("../img/epi.jpg");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
}

.banner__copy {
  width: 70%;
  float: left;
  height: 100%;
  display: table;
}

.banner__copy__text {
  display: table-cell;
  vertical-align: middle;
  padding: 30px;
}

.banner__copy__text h3 {
  font-size: 36px;
  margin-bottom: 0;
}

.banner__copy__text h4 {
  font-size: 22px;
  margin: 5px 0;
}

/*-----------------------------
Project
-----------------------------*/

.panel__copy {
  max-width: 800px;
  margin: 80px auto;
  margin-top: -60px;
  background: #fff;
  padding: 20px 40px;
  position: relative;
  z-index: 1;
}

.panel__copy__meta {
  font-weight: bold;
  font-size: 16px;
}

.panel__copy__title {
  font-size: 32px;
}

.card__image__project {
  width: 100%;
  height: auto;
}

/*-----------------------------
Contact
-----------------------------*/

input {
  width: 100%;
  margin-bottom: 17px;
}

textarea {
  width: 100%;
}

/*-----------------------------
Ariminum page
-----------------------------*/

.description__ariminum {
  position: relative;
  bottom: -34px;
}

.cover__ariminum1 {
  height: 50%;
  background-image: url("../img/cover__rimini.jpg");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
  position: relative;
}

.cover__ariminum2 {
  height: 50%;
  background-image: url("../img/cover__rimini2.jpg");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
  position: relative;
}

/*-----------------------------
Events page
-----------------------------*/

.description__event {
  position: relative;
  bottom: -34px;
}

/*-----------------------------
Epigraph page
-----------------------------*/

.card__image__epigraph {
  width: 100%;
  height: 270px;
}

/*-----------------------------
Footer
-----------------------------*/

.footer {
  background-image: url("../img/footer.jpg");
  padding-top: 3px;
  padding-bottom: 1px;
  letter-spacing: 1px;
}

/*-----------------------------
Tablet
-----------------------------*/

@media (max-width: 998px) {
  /* banner */
  .banner__image,
  .banner__copy {
    width: 50%;
    height: 100%;
  }
}

/*-----------------------------
Smartphone
-----------------------------*/

@media (max-width: 767px) {
  .header {
    position: fixed;
    z-index: 100;
    width: 100%;
    min-height: 15%;
  }

  .header__icon-bar {
    display: block;
  }

  .header__menu {
    width: 100%;
    height: 0px;
    overflow: hidden;
    margin: 0;
  }

  .header__menu__item {
    display: block;
  }

  .is-open {
    height: 300px;
    overflow: auto;
  }

  /* Cover */
  .cover {
    height: 100%;
  }

  /* Cards */
  .card {
    width: 90%;
    margin: 5%;
  }

  /* Banner */
  .banner {
    height: 600px;
  }

  .banner__image,
  .banner__copy {
    width: 100%;
    height: 50%;
  }
}

/* clearfix */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */

*:first-child+html .clearfix {
  zoom: 1;
}

/* IE7 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
