<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Roman Epigraphy</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	<!-- Mappa -->
	<style id="jsbin-css">#map { height: 50px;}</style>  
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.js"></script> 

</head>

<body>

	<header class="header clearfix">
		<a href="/" class="header__logo">ROMAN</br>
			EPIGRAPHY</a>
		<a href="" class="header__icon-bar">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<ul class="header__menu animate">
			<li class="header__menu__item">
				<a href="/">Home</a>
			</li>
			<li class="header__menu__item">
				<a href="/project">Project</a>
			</li>
			<li class="header__menu__item">
				<a href="/inscriptions">Inscriptions</a>
			</li>
			<li class="header__menu__item">
				<a class="active" href="/contact">Contact</a>
			</li>
		</ul>
	</header>

	<section class="cover cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
			<div class="cover__caption__copy">
				<h1 style="font-weight:100;">Contact</h1>
				<h2>Subtitle of the page</h2>
			</div>
		</div>
	</section>

	<article class="panel">
		<div class="panel__copy">
			<h2>Contact us</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fuga quae aperiam eaque id, illum delectus repudiandae natus
				minus, ullam! Impedit excepturi quaerat delectus provident consectetur laboriosam deleniti at, temporibus</p>
			</p>
		</div>
	</article>

	<section class="cover2 cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
		</div>
	</section>

	<article class="panel">
		<div class="panel__copy" style="margin-top:0px;">
			<form action="" method="post">
				<h2>Send us a message</h2>
				<label for="name">Name: </label>
				<input type="text" name="name" id="name" placeholder="Your name...">
				<label for="subname">E-mail address: </label>
				<input type="text" name="name" id="name" placeholder="Your e-mail address...">
				<label for="name">Message: </label>
				<textarea class="form" rows="8" placeholder="Write your message..."></textarea>
			</br>
			</br>
				<input type="submit" value="Submit">
			</form>
		</div>
	</article>

	<div id='map'>
		<div class="cover__filter"></div>
		<div class="cover__caption">
		</div>
	</div>

	<article class="panel">
		<div class="panel__copy" style="margin-top:0px;">
			<h2>Get in touch with us</h2>
			<div>
				<p>Nam liber tempor cum soluta nobis eleifend option 
				congue nihil imperdiet doming id quod mazim placerat
				facer possim assum. Typi non habent claritatem insitam;
				est usus legentis in iis qui facit eorum.</p>
				<h4>Address:</h4>Università di Bologna - Alma mater studiorum<br>
				<h4>Telephone:</h4>000 000 0000</br>
			</div>
		</div>
	</article>										

	<footer class="footer">
		<section class="cards clearfix">
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Roman Epigraphy</strong>
					</h4>
					<p>
						<a href="about.html" class="footerlink" title="Mappa del sito" target="_blank">Mappa del sito</a> | Policy |
						<a href='https://www.facebook.com/martina.dellobuono' class="footerlink" title="Profilo facebook del creatore del sito Martina Dello Buono"
						  target='_blank'>Contattami</a>
						<br/> Ultima modifica Luglio 2017
						<br/> Blog | Newsletter
						<br/>
					</p>
					<p>Copyright
						<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/it/deed.it" class="footerlink" alt="Link a licenza Creative Commons"
						  target="_blank">Creative Commons</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Links</strong>
					</h4>
					<p>
						<a href="#" class="footerlink">Facebook</a>
						<br/>
						<a href="#" class="footerlink">Twitter</a>
						<br/>
						<a href="#" class="footerlink">Instagram</a>
						<br/>
						<a href="#" class="footerlink">
							<a href="http://validator.w3.org/check?uri=referer" class="footerlink" title="Validatore w3 codice HTML" target='_blank'>HTML 5</a> |
							<a href="http://jigsaw.w3.org/css-validator/check/referer" class="footerlink" title="Validitore w3 codice CSS" target="_blank">CSS</a>
						</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>About</strong>
					</h4>
					<p>Questo sito è stato realizzato da
						<br/>
						<a href='https://www.facebook.com/martina.dellobuono' class="footerlink" title="Profilo facebook del creatore del sito Martina Dello Buono"
						  target='_blank'>Martina Dello Buono</a>,
						<a>Fabio Mariani</a> e
						<a>Gianmarco Spinaci</a> per l'esame di Scholarly Editing e Digital Approach.</p>
					<p>
						<a href='http://www.unibo.it/it' title="Sito web Università di Bologna" class="footerlink" target='_blank'>Università di Bologna</a>
					</p>
					</p>
				</div>
			</div>


		</section>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		$(document).ready(function () {

			$(".header__icon-bar").click(function (e) {

				$(".header__menu").toggleClass('is-open');
				e.preventDefault();

			});
		});
	</script>
	
	<script>
	var map = L.map('map', {
            maxZoom: 18, <!--max-min gestiscono quanto si possa zoomare avanti o indietro nella mappa-->
            minZoom: 15,
        });
        map.setView([44.49659, 11.35143], 18); <!--coordinate inziali ("settate" su Rimini)-->

	var osm = L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', { 
			}).addTo(map);
	var marker = L.marker([44.49659, 11.351438]).addTo(map);
		var	bounds = new L.LatLngBounds(     <!--confini della mappa, praticamente un rettangolo generato dalla sua diagonale (è "settato" su Rimini)-->
					new L.LatLng(44.49606, 11.34798),
					new L.LatLng(44.49709, 11.35347));
				map.setMaxBounds(bounds);
    </script>
</body>

</html>