<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Roman Epigraphy</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

	<header class="header clearfix">
		<a href="/" class="header__logo">ROMAN</br>
			EPIGRAPHY</a>
		<a href="" class="header__icon-bar">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<ul class="header__menu animate">
			<li class="header__menu__item">
				<a href="/">Home</a>
			</li>
			<li class="header__menu__item">
				<a href="/project">Project</a>
			</li>
			<li class="header__menu__item">
				<a class="active" href="/inscriptions">Inscriptions</a>
			</li>
			<li class="header__menu__item">
				<a href="/contact">Contact</a>
			</li>
		</ul>
	</header>

	<section class="cover cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
			<div class="cover__caption__copy">
				<h1 style="font-weight:100;">Inscriptions</h1>
			</div>
		</div>
	</section>

	<article class="panel">
		<div class="panel__copy">
			<p>Browse the database</p>
			<p>In this section of the Archive You can search for any object of our collection without using the map.
				You can return in the homepage if You prefer to explore the map instead.
			</p>
		</div>
	</article>

	<section class="cover2 cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
		</div>
	</section>

	<section class="cards clearfix">
		<div class="card">
			<img class="card__image" src="img/epi1.jpg" alt="">
			<div class="card__copy">

			</div>
		</div>
		<div class="card">
			<div class="card__copy">
				<h3>
					<a>Epigraphs</a>
				</h3>
				<h4>All epigraphs:</h4>
				<p>
					<ol id="epigraphs__left" type="I" start="1">
					</ol>
				</p>
			</div>
		</div>
		<div class="card">
			<div class="card__copy">
				<p>
					<ol id="epigraphs__right" type="I" start="5">
					</ol>
				</p>
			</div>
		</div>
	</section>

	<hr>

	<section class="cards clearfix">
		<div class="card">
			<div class="card__copy">
				<h3>
					<a>Cities</a>
				</h3>
				<h4>All cities:</h4>
				<p>
					<ol type="I" start="1">
						<li>
							<a href="/city/ariminum">Ariminum</a>
						</li>
					</ol>
				</p>
			</div>
		</div>
		<div class="card">
			<div class="card__copy">
			</div>
		</div>
		<div class="card">
			<img class="card__image" src="img/citta.jpg" alt="">
			<div class="card__copy">
			</div>
		</div>
	</section>

	<hr>

	<section class="cards clearfix">
		<div class="card">
			<img class="card__image" src="img/personaggi.jpg" alt="">
			<div class="card__copy">
			</div>
		</div>
		<div class="card">
			<div class="card__copy">
				<h3>
					<a>People</a>
				</h3>
				<h4>All people:</h4>
				<p>
					<ol id="people__left" type="I">
					</ol>
				</p>
			</div>
		</div>
		<div class="card">
			<div class="card__copy">
				<p>
					<ol id="people__right" type="I">
					</ol>
				</p>
			</div>
		</div>
	</section>

	<hr>

	<section class="cards clearfix">
		<div class="card">
			<div class="card__copy">
				<h3>
					<a>Events</a>
				</h3>
				<h4>All events:</h4>
				<p>
					<ol id="events__left" type="I">
					</ol>
				</p>
			</div>
		</div>
		<div class="card">
			<div class="card__copy">
				<p>
					<ol id="events__right" type="I">
					</ol>
				</p>
			</div>
		</div>
		<div class="card">
			<img class="card__image" src="img/gruppi.jpg" alt="">
			<div class="card__copy">
			</div>
		</div>
	</section>

	<footer class="footer">
		<section class="cards clearfix">
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Roman Epigraphy</strong>
					</h4>
					<p>
						<a href="project.html" class="footerlink" alt="Site map" target="_blank">Site map</a> | Policy |
						<a>Contact</a>
						<br/> Latest modification January 2018
						<br/> Blog | Newsletter
						<br/>
					</p>
					<p>Copyright
						<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/it/deed.it" class="footerlink" alt="Link a licenza Creative Commons"
						  target="_blank">Creative Commons</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Links</strong>
					</h4>
					<p>
						<a href="#" class="footerlink">Facebook</a>
						<br/>
						<a href="#" class="footerlink">Twitter</a>
						<br/>
						<a href="#" class="footerlink">Instagram</a>
						<br/>
						<a href="#" class="footerlink">
							<a href="http://validator.w3.org/check?uri=referer" class="footerlink" title="Validatore w3 codice HTML" target='_blank'>HTML 5</a> |
							<a href="http://jigsaw.w3.org/css-validator/check/referer" class="footerlink" title="Validitore w3 codice CSS" target="_blank">CSS</a>
						</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>About</strong>
					</h4>
					<p>This website has been created by
						<br/>
						<a>Martina Dello Buono</a>,
						<a>Fabio Mariani</a> and
						<a>Gianmarco Spinaci</a> for the Scholarly Editing and Digital Approaches exam.</p>
					<p>
						<a href='http://www.unibo.it/it' title="Sito web Università di Bologna" class="footerlink" target='_blank'>Università di Bologna</a>
					</p>
					</p>
				</div>
			</div>


		</section>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script>
		$(document).ready(function () {

			$(".header__icon-bar").click(function (e) {

				$(".header__menu").toggleClass('is-open');
				e.preventDefault();

			});

			const urlBase = '../'

			$.ajax({
				method: "GET",
				dataType: 'json',
				url: `${urlBase}api/epigraph`,
				success: function (epigraphs) {

					$('#epigraphs__left').html('')
					$('#epigraphs__right').html('')

					let len = epigraphs.length % 2 == 0 ? epigraphs.length / 2 : epigraphs.length / 2 + 1
					$('#epigraphs__right').attr('start', len + 1)
					epigraphs.forEach(function (epigraph, index) {
						if (index < len)
							$('#epigraphs__left').append(
								`<li><a href="../epigraph/${epigraph['_id']}" alt="" >${epigraph['_id']}</a></li>`)
						if (index >= len)
							$('#epigraphs__right').append(
								`<li><a href="../epigraph/${epigraph['_id']}" alt="" >${epigraph['_id']}</a></li>`)
					})

					if (!$('#epigraphs__left').children().length)
						$('#epigraphs__right').replaceWith('<p>Empty...</p>')

					if (!$('#epigraphs__left').children().length)
						$('#epigraphs__right').remove()
				}
			})

			$.ajax({
				method: "GET",
				dataType: 'json',
				url: `${urlBase}api/people`,
				success: function (people) {

					$('#people__left').html('')
					$('#people__right').html('')

					let len = people.length
					$('#people__right').attr('start', len % 2 == 0 ? len / 2 : len / 2 + 1)
					people.forEach(function (person, index) {
						if (index <= len / 2)
							$('#people__left').append(
								`<li><a href="../epigraph/${person['_id']}" alt="" >${person['_id']}</a></li>`)
						if (index > len / 2)
							$('#people__right').append(
								`<li><a href="../epigraph/${person['_id']}" alt="" >${person['_id']}</a></li>`)
					})

					if (!$('#people__left').children().length)
						$('#people__right').replaceWith('<p>Empty...</p>')

					if (!$('#people__left').children().length)
						$('#people__right').remove()
				}
			})

			$.ajax({
				method: "GET",
				dataType: 'json',
				url: `${urlBase}api/actions/`,
				success: function (events) {

					$('#events__left').html('')
					$('#events__right').html('')

					let len = events.length
					$('#events__right').attr('start', len % 2 == 0 ? len / 2 : len / 2 + 1)
					events.forEach(function (event, index) {
						if (index <= len / 2)
							$('#events__left').append(
								`<li><a href="../groups/${event['_id']}" alt="" >${event['_id']}</a></li>`)
						if (index > len / 2)
							$('#events__right').append(
								`<li><a href="../groups/${event['_id']}" alt="" >${event['_id']}</a></li>`)
					})

					if (!$('#events__left').children().length)
						$('#events__right').replaceWith('<p>Empty...</p>')

					if (!$('#events__left').children().length)
						$('#events__right').remove()
				}
			})
		});
	</script>

</body>

</html>