<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Roman Epigraphy</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

	<header class="header clearfix">
		<a href="/" class="header__logo">ROMAN</br>
			EPIGRAPHY</a>
		<a href="" class="header__icon-bar">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<ul class="header__menu animate">
			<li class="header__menu__item">
				<a href="/" alt="Home">Home</a>
			</li>
			<li class="header__menu__item">
				<a class="active" href="/project" alt="Project">Project</a>
			</li>
			<li class="header__menu__item">
				<a href="/inscriptions" alt="Epigraphs">Epigraphs</a>
			</li>
			<li class="header__menu__item">
				<a href="/contact" alt="Contact">Contact</a>
			</li>
		</ul>
	</header>

	<section class="cover cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
			<div class="cover__caption__copy">
				<h1 style="font-weight:100;">Roman Epigraphy Project</h1>
			</div>
		</div>
	</section>


	<article class="panel" style="height: 40%">
		<div class="panel__copy">
			<h2 class="panel__copy__title">Our Goal</h2>
			<p align="justify">In developing the Roman Epigraphy project We tried to offer new solution for digital epigraphy analysis.
				We decided to create a new modular structure to make our archive simpler for both the manager and the user.
				To achieve this goal We have adopted the strategy of structuring the archive in a geographical point of view. 
			</p>
		</div>
	</article>

	<section class="cover2 cover--single">
		<div class="cover__filter"></div>
		<div class="cover__caption">
		</div>
	</section>

	<article class="panel">
		<div class="panel__copy" style="margin-top:0px;">
			<p align="justify">The single city represents the module of our archive (as it was the module in ancient roman administration); 
				and once the user have reached it inside the map He can deepen the geographical navigation within the city. 
				Scrolling through the streets of the ancient city (rebuilt based on the appropriate archaeological bibliography) 
				the user can find information that will help him to explore the place, for example the places of interest, monuments and street names. 
				Finally, within the city users can find the epigraphic documents virtually repositioned in their exact original position. </p>
		</div>
	</article>

	<hr style="position:relative; top:-80px;">

	<section class="cards clearfix" style="margin-top:-37px;">
		<div class="card">
			<img class="card__image__project" src="img/gianmarco.jpeg" alt="">
			<div class="card__copy">
				<h3 style="color:#450808;">Gianmarco Spinaci</h3>
				<p align="justify">Curator of Archive's back-end. He's graduated in Computer Science. Gianmarco is now attending Digital Humanities and Digital Knowledge (UniBo).
				</p>
			</div>
		</div>
		<div class="card">
			<img class="card__image__project" src="img/martina.jpeg" alt="">
			<div class="card__copy">
				<h3 style="color:#450808;">Martina Dello Buono</h3>
				<p align="justify">Curator of Archive's front-end. She's graduated in Literature. Martina is now attending Digital Humanities and Digital Knowledge (UniBo).
				</p>
			</div>
		</div>
		<div class="card">
			<img class="card__image__project" src="img/fabio.jpeg" alt="">
			<div class="card__copy">
				<h3 style="color:#450808;">Fabio Mariani</h3>
				<p align="justify">Curator of Archive's content. He's graduated in History (UniBo). Fabio is now attending Digital Humanities and Digital Knowledge (UniBo).
				</p>
			</div>
		</div>
	</section>



	<footer class="footer">
		<section class="cards clearfix">
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Roman Epigraphy</strong>
					</h4>
					<p>
						<a href="project.html" class="footerlink" alt="Site map" target="_blank">Site map</a> | Policy |
						<a>Contact</a>
						<br/> Latest modification January 2018
						<br/> Blog | Newsletter
						<br/>
					</p>
					<p>Copyright
						<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/it/deed.it" class="footerlink" alt="Link a licenza Creative Commons"
						  target="_blank">Creative Commons</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>Links</strong>
					</h4>
					<p>
						<a href="#" class="footerlink" alt="Facebook">Facebook</a>
						<br/>
						<a href="#" class="footerlink" alt="Twitter">Twitter</a>
						<br/>
						<a href="#" class="footerlink" alt="Instagram">Instagram</a>
						<br/>
						<a href="#" class="footerLink" alt="Github">Github</a>
						<br/>
						<a href="#" class="footerlink">
							<a href="http://validator.w3.org/check?uri=referer" class="footerlink" title="HTML" target='_blank'>HTML 5</a> |
							<a href="http://jigsaw.w3.org/css-validator/check/referer" class="footerlink" title="CSS" target="_blank">CSS</a>
						</a>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card__copy">
					<h4>
						<strong>About</strong>
					</h4>
					<p>This website has been created by
						<br/>
						<a>Martina Dello Buono</a>,
						<a>Fabio Mariani</a> and
						<a>Gianmarco Spinaci</a> for the Scholarly Editing and Digital Approaches exam.</p>
					<p>
						<a href='http://www.unibo.it/it' title="Università di Bologna" class="footerlink" target='_blank'>University of Bologna</a>
					</p>
					</p>
				</div>
			</div>


		</section>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		$(document).ready(function () {

			$(".header__icon-bar").click(function (e) {

				$(".header__menu").toggleClass('is-open');
				e.preventDefault();

			});
		});
	</script>

</body>

</html>